{% extends "main_template.html" %}



{% block header %}
						<div class="main_title"> <h2>{{ object_Name }}s</h2> </div>
						<div class="button_box">
							<p><button class="btn btn-primary" type="button" onclick="javascript:window.location.href='/jobs/create'">New {{ object_Name }}</button></p>
						</div>
{% endblock %}	


{% block breadcrum %}
					    <li><a href="/index">Home</a> <span class="divider">/</span></li>
					    <li class="active">{{ object_Name }}s</li>
{% endblock breadcrum %}




{% block content %}
				<div class="body_container">


				    	<table class="table table-striped table-bordered table-hover">
							  	<thead>
							  		<tr>
							  		<th>ID</th><th>periodicity</th><th>dow</th><th>dom</th><th>hour</th><th>status</th><th>created</th><th>updated</th>
						 		</thead>
						 		<tbody>
							 		{% for o in job_list %}   		
							    		<tr class="{% cycle  'id' 'periodicity' 'dow' 'dom' 'hour' 'status' 'created' 'updated'%}">
										<tr class="cursor_pointer" onclick="javascript:window.location.href='/jobs/show/{{ o.id }}/'">
							        		<td>{{ o.id }}</td><td>{{ o.periodicity }}</td><td>{{ o.dow }}</td><td>{{ o.dom }}</td><td>{{ o.hour }}</td><td>{{ o.status }}</td><td>{{ o.created|date:"d/m/y" }}</td><td>{{ o.updated|date:"d/m/y" }}</td>
							    		</tr>
	
									{% endfor %}
				 				</tbody>
				 				
				 				<!-- /<tbody>
							 		{% for o in job_list %}   		
							    		<tr class="{% cycle  'id' 'source' 'periodicity' 'dow' 'dom' 'hour' 'status' 'created' 'updated'%}">
										<tr class="cursor_pointer" onclick="javascript:window.location.href='/jobs/show/{{ o.id }}/'">
							        		<td>{{ o.id }}</td><td>{{ o.source }}</td><td>{{ o.periodicity }}</td><td>{{ o.dow }}</td><td>{{ o.dom }}</td><td>{{ o.hour }}</td><td>{{ o.status }}</td><td>{{ o.created }}</td><td>{{ o.updated }}</td>
							    		</tr>
	
									{% endfor %}
				 				</tbody>-->
				 				
				 		</table> 		
				 		
					 	
						</div> <!-- /grey_border -->
						
						<div class="pagination">
						    <ul>
						    <li class="disabled"><span>Prev</span></li>
						    <li class="disabled"><span>1</span></li>
							<li class="active"><a href="#">2</a></li>
							<li class="active"><a href="#">3</a></li>
							<li class="active"><a href="#">4</a></li>
							<li class="active"><a href="#">Next</a></li>											
						    </ul>						
						</div> <!-- /pagination -->

				</div>
{% endblock %}		